{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5">
            <div class="product-image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid rounded shadow" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%; height: 400px; object-fit: cover;">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid rounded shadow" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" style="width: 100%; height: 400px; object-fit: cover;">
                </a>
                {% endif %}
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-5">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="product-name mb-3">{{ product.name }}</h2>
                <p class="product-price lead mb-3 text-primary font-weight-bold">£{{ product.price }}</p>
                
                <div class="product-rating mb-3">
                    {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1 text-warning"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
                
                <div class="product-description">
                    <h5>Description</h5>
                    <p class="mt-3">{{ product.description }}</p>
                </div>

                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item-id="{{ product.id }}" id="id_qyt_{{ product.id }}">
                                    </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5"><span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="text-uppercase">Continue Shopping </span> </a>
                            <input type="submit" class="btn btn-black rounded-0 mt-5 text-uppercase" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}